<main>
	<div class="full-background">
		<div class="l-container">
			<div class="l-r-logo-container">
				<img class="l-r-logo" src="img/logo_white.svg" alt="Fremy Dulcería logo">
			</div>
			<form class="l-r-form" action="/login" method="post">             
				<input type="email" name="mail" placeholder="E-mail" required>  
				<input type="password" name="password" placeholder="Contraseña" required>
				<input class="l-submit" type="submit" value="Ingresar">	                    
			</form>
			<p>{{message}}</p>
			<div class="line-break"></div>
			<a href="#">Olvidé mi contraseña</a>
			<a href="registro">¿Aún no tenés cuenta? ¡Registrate!</a>
		</div>
		<a href="/">Regresar a la página principal</a>
	</div>
</main>