<main>		
	<div class="full-background">
		<div class="r-container">
			<div class="l-r-logo-container">
				<img class="l-r-logo" src="/img/logo_white.svg" alt="Fremy Dulcería logo">
			</div>
			<form class="l-r-form" action="/registro" method="post">
				<input type="text" name="nombre" placeholder="Nombre">
				<input type="text" name="apellido" placeholder="Apellido">       
				<input type="email" name="mail" placeholder="E-mail" required>  
				<input type="password" name="password" placeholder="Contraseña" required>
				<input class="r-submit" type="submit" value="Registrarme">	                    
			</form>
			<div class="line-break"></div>
			<a href="login">¿Ya tenés cuenta? ¡Ingresá!</a>
		</div>
		<a href="/">Regresar a la página principal</a>
	</div>
</main>